<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn {
            border-radius: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" style="width: 300px; text-align: center;">
            <h3>Upload Your Picture</h3>
            <input type="file" name="picture" accept="image/*" class="form-control" required>
            <button type="submit" class="btn btn-primary btn-block my-3 rounded-pill">Upload</button>
            <a href="{{ url_for('evaluation') }}" class="btn btn-secondary btn-block rounded-pill">Switch to Evaluation</a>
            <a href="{{ url_for('transparency') }}" class="btn btn-info btn-block rounded-pill">Switch to Transparency</a>
        </form>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>